.mtitle {
  padding-top: 50px;
}
.webcs {
  font-size: bold;
  line-height: 24px;
  align-items: center;
  border: 2px solid #112b3c;
  border-radius: 45px;
  color: #112b3c;
  width: 375px;
  margin-bottom: 75px;
}
.head {
  height: 60px;
}
.description {
  padding-top: 22px;
  height: 110px;
}
ul li:not(.mb-3) {
  text-align: right;
  font-size: 0.7rem;
  font-size: 400;
  line-height: 30px;
  color: #363636;
  height: 30px;
}
/*#info::after {
  content: url(../../../images/info.svg);
  padding-left: 10px;
  padding-right: 4px;
  vertical-align: middle;
  padding-top: 5px;
  /*
    position: absolute;
    top: 0;
    right: 0px;
    width: 1000px;
    height: 100%;
    background-color: #f5f5f5;
    content: "";
    z-index: -1;

}*/
#info::after {
    content: "";
    display: block;
    height: 1.5rem;
    width: 1rem;
    position: absolute;
    background-color: #f5f5f5;
    top: 235px;
    left: 524px;
}
#info:nth-child(2n+1) {
  background-color: #f5f5f5;
}
.bundles {
    position: relative;
}
.title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 30px;
  color: #363636;
}
.lists {
  width: 244px;
  height: 836px;
}
.start {
  width: 235px;
  height: 836px;
  text-align: center;
  border: 5px solid #0e83a6;
  border-radius: 10px;
  margin-right: 20px;
}
.optimum {
  width: 235px;
  height: 836px;
  text-align: center;
  border: 5px solid #e61c5d;
  border-radius: 10px;
  margin-right: 20px;
}
.pro {
  width: 235px;
  height: 836px;
  text-align: center;
  border: 5px solid #112b3c;
  border-radius: 10px;
}
.description {
  font-size: 0.6rem;
  width: 230px;
  padding-left: 13px;
  padding-right: 13px;
  font-weight: 600;
}
.price {
  height: 30px;
}
.head {
  font-weight: 800;
  font-size: 1.8rem;
  color: #ffffff;
  width: 225px;
}
#start {
  background: #0e83a6;
}
#optimum {
  background: #e61c5d;
}
#pro {
  background: #112b3c;
}
#pricest {
  font-weight: bolder;
  font-size: 1.4rem;
  line-height: 30px;
  color: #0e83a6;
}
#priceop {
  font-weight: bolder;
  font-size: 1.4rem;
  line-height: 30px;
  color: #e61c5d;
}
#pricepr {
  font-weight: bolder;
  font-size: 1.4rem;
  line-height: 30px;
  color: #112b3c;
}
.bundles {
  padding-left: 45px;
  padding-right: 45px;
}
