@media (min-width: 1200px) {
  .header-container {
    max-width: 1295px;
  }
}
header {
  height: 99px;
}
header ul {
  width: 985px;
}
header ul li {
  font-size: 14px;
  margin: auto;
}
.calendar {
  width: 194px;
  height: 53px;
  background: #e95a30;
  border-radius: 30px;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}
.calendar > img {
  margin-right: 10px;
  margin-bottom: 3px;
  width: 21.5px;
  height: 21px;
}
.teams {
  width: 113px;
  height: 99px;
  text-align: center;
  background: #2c252a;
  color: #ffffff;
  font-weight: 600;
}
.teams .dropdown-toggle {
  text-align: center;
  background: #2c252a;
  color: #ffffff;
  font-weight: 600;
}
.teams .dropdown-toggle:hover {
  background: #2c252a;
  color: #ffffff;
}
.dropdown-menu {
  width: 113px !important;
  transform: translate3d(0px, 89px, 0px) !important;
  min-width: unset;
  border: unset;
  background: unset;
  box-shadow: unset;
  outline: unset;
}
.matches .dropdown-menu {
  width: 113px !important;
  transform: translate3d(0px, 52px, 0px) !important;
  min-width: unset;
  border: unset;
  background: unset;
  box-shadow: unset;
  outline: unset;
}
.dropdown-item {
  width: 113px;
  height: 27px;
  padding: 0;
  padding-left: 18px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  background: #2c252a;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
}
.dropdown-item.active,
.dropdown-item:active {
  background: #e95a30;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header ul li {
    font-size: 11px;
  }
  .teams {
    width: 80px;
  }
  .calendar {
    width: 105px;
    font-size: 9px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
}
@media (max-width: 767.98px) {
  .navbar-toggler-icon {
    background-image: url(../../images/menu.svg);
    width: 23.75px;
    height: 22.5px;
  }
  .overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background: #e95a30;
    overflow-x: hidden;
    transition: 0.3s ease-out;
  }
  .overlay .closebtn {
    position: absolute;
    top: 32px;
    right: 30px;
    font-size: 60px;
  }
  .overlay-content {
    position: relative;
    top: 5%;
    text-align: center;
    margin: auto;
    margin-top: auto;
    margin-top: 30px;
  }
  .overlay a:not(.closebtn) {
    height: 50px;
    width: 327px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    background: #e95a30;
    border-bottom: 1px solid rgba(217, 217, 217, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-out;
  }
  .overlay img {
    position: relative;
    left: 30px;
    top: 40px;
  }
}
@media (max-width: 575.98px) {
}
